<div class="card mb-2">
    <div class="card-header">
        {{name}}
        <span class="float-right">{{date}}</span>
    </div>
    <div class="card-body">
        <p class="card-text">{{squeak}}</p>
    </div>
</div>